<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Adhyapanam</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="shortcut icon" th:href="@{/icon/icon5.png}">
</head>
<body>
   
   <header th:replace="fragments/header :: header"></header>
	
	<div class="container">
		<div class="rows">
			<div class="card-header">
				<h1 class=" card-title">Introduction to the Institute Founded
					by Manu Kumar Gupta</h1>
				<p class="card-body">
					<span> Established with a vision to revolutionize education
						and empower individuals with practical skills, the Institute
						founded by Manu Kumar Gupta stands as a beacon of innovation and
						knowledge dissemination. With a commitment to excellence and a
						passion for transformative education, this institution has become
						a hub for aspiring learners seeking to thrive in today's dynamic
						world. Manu Kumar Gupta, the visionary behind this venture, brings
						a wealth of experience and a fervent desire to bridge the gap
						between traditional education and industry requirements. </span>
				</p>
			</div>
			<hr>
			<div class="card-body">
				<div class="row-1">
					<h2 class=" card-title">A Visionary Leader: Manu Kumar Gupta</h2>
					<p class="card-body">
						<span> Manu Kumar Gupta, a seasoned entrepreneur and
							educationist, embarked on a mission to redefine the landscape of
							education through his institute. With a profound understanding of
							the evolving needs of the industry, Gupta envisioned an
							institution that not only imparts theoretical knowledge but also
							equips individuals with practical skills essential for success in
							the professional realm. His relentless pursuit of excellence and
							unwavering dedication to the cause have been instrumental in
							shaping the institute into a renowned center of learning and
							innovation. </span>
					</p>
				</div>
				<hr>
				<div class="row-2">
					<h2 class=" card-title">Core Values and Offerings</h2>
					<p class="card-body">
						<span> At the heart of the institute lie its core values of
							integrity, innovation, and inclusivity. Guided by these
							principles, the institute offers a diverse range of programs
							tailored to meet the needs of learners across various domains.
							From cutting-edge technology courses to holistic development
							programs, the institute ensures that every student receives a
							comprehensive education that prepares them for the challenges of
							the real world. Through state-of-the-art facilities, industry
							collaborations, and expert faculty members, students are provided
							with a conducive learning environment that fosters creativity,
							critical thinking, and collaboration. </span>
					</p>
				</div>
				<hr>
				<div class="row-3">
					<h2 class=" card-title">Impact and Recognition</h2>
					<p class="card-body">
						<span> Since its inception, the institute has made
							significant strides in the field of education, garnering
							recognition for its exemplary contributions to the society.
							Through its innovative approach to learning and emphasis on
							practical skills, the institute has empowered countless
							individuals to pursue their passions and achieve their goals. Its
							alumni have gone on to make significant contributions to their
							respective fields, serving as ambassadors of the institute's
							commitment to excellence. With each passing year, the institute
							continues to expand its reach and impact, leaving an indelible
							mark on the educational landscape. </span>
					</p>
				</div>
			</div>
			<hr>
			<div class="card-footer">
				<h2 class="card-title">Conclusion</h2>
				<p class="card-body">
					<span> In conclusion, the Institute founded by Manu Kumar
						Gupta stands as a testament to the power of visionary leadership
						and innovative thinking in the realm of education. Guided by a
						commitment to excellence and a passion for empowering learners,
						the institute continues to inspire individuals to realize their
						full potential and make a positive impact on the world. Under the
						guidance of Manu Kumar Gupta, the institute remains steadfast in
						its mission to shape the future of education and nurture the next
						generation of leaders and innovators. </span>
				</p>
			</div>
		</div>
	</div>
	
	<footer th:replace="fragments/footer :: footer"></footer>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>