<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Adhyapanam</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="shortcut icon" th:href="@{/icon/icon5.png}">
</head>
<body>
     	
	<header th:replace="fragments/header :: header"></header>
	
	<div class="container">
		<div class="rows">
			<div"cardborder-primarymb-3">
				<div class="card-header">
					<h1 class="card-title" style="text-align: center;">Welcome to
						the Manu Kumar Gupta Institute</h1>
				</div>
				<div class="card-body">
					<div class="row-1">
						<h2 class="card-title">Contact Information:</h2>
						<p class="card-text">
							<span> If you require assistance or have any inquiries,
								please do not hesitate to reach out to us. Our dedicated team is
								here to support you. <br> <br> Help Line Number:
								9117112353<br> Email: mazocollection20@gmail.com<br>
							</span>
						</p>
					</div>
					<hr>
					<div class="row-2">
						<h2 class="card-title">How We Can Assist You:</h2>
						<div class="card-body">
							<h3 class="card-title">1. General Inquiries:</h3>
							<p class="card-text">If you have questions about our
								institute, programs, admissions, or any other general inquiries,
								feel free to contact us. Our team will be happy to provide you
								with the information you need.</p>
							<hr>
							<h3 class="card-title">2. Admissions Assistance:</h3>
							<p class="card-text">Need help with the admissions process?
								Whether you're a prospective student or an applicant, we're here
								to guide you through the application process, requirements,
								deadlines, and any other related queries.</p>
							<hr>
							<h3 class="card-title">3. Program Information:</h3>
							<p class="card-text">For detailed information about our
								academic programs, curriculum, faculty, and research
								opportunities, please reach out to us. We'll provide you with
								comprehensive details to help you make informed decisions about
								your academic journey.</p>
							<hr>
							<h3 class="card-title">4. Technical Support:</h3>
							<p class="card-text">Facing technical issues with our
								website, online resources, or any other technical aspects? Don't
								worry; our technical support team is available to assist you and
								resolve any issues promptly.</p>
							<hr>
							<h3 class="card-title">5. Feedback and Suggestions:</h3>
							<p class="card-text">Your feedback is valuable to us. Whether
								you have suggestions for improvement or want to share your
								experience with us, we welcome your feedback. It helps us
								enhance our services and better serve our community.</p>
						</div>
					</div>
					<hr>
					<div class="row-3">
						<h2 class="card-title">How to Reach Us:</h2>
						<div class="card-body">
							<p class="card-text">Help Line: Call us at 9117112353 to
								speak with one of our representatives directly. We're available
								to assist you during our office hours.</p>
							<p class="card-text">Email Support: If you prefer email
								communication, feel free to reach out to us at
								mazocollection20@gmail.com. Our team will respond to your
								inquiries promptly.</p>
						</div>
					</div>
					<hr>
					<div class="row-4">
						<h2 class="card-title">Office Hours:</h2>
						<div class="card-body">
							<h3 class="card-title">Our team is available to assist you
								during the following office hours:</h3>
							* Monday to Friday: 9:00 AM to 5:00 PM (IST)<br> * Saturday:
							9:00 AM to 1:00 PM (IST)<br> (Closed on Sundays and public
							holidays)
						</div>
					</div>
				</div>
				<div class="card-footer">
					<h4 class="card-title">Thank you for choosing the Manu Kumar
						Gupta Institute. We look forward to assisting you and ensuring
						your experience with us is exceptional.</h4>
				</div>
			</div>
		</div>
	</div>
	
	 <footer th:replace="fragments/footer :: footer"></footer>
	 	
	 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>